<marquee direction="right" behavior="alternate"
  >Mahasagar Ship Reservation System</marquee>
<h1>Welcome to Login Window</h1>
<div id="a" class="container">
  <label name="lname" class="page1"> 
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <input type="radio" name="a1" class="radio1" value="admin" ngModel />Admin
  <input type="radio" name="u1" class="radio2" value="user" ngModel />User
  <br />
  <br />
  Enter Username :
  <input type="textbox" name="user" class="form-control" placeholder="Username" ngModel />
  <br /><br />
  Enter Password :
  <input type="textbox" name="pwd" class="form-control" placeholder="password" ngModel />
  <br />
  <br />
  <button type="submit" class="btn btn-sub" id="btn1" routerLink="/login">Login</button>
  <!-- <button id="btn2" routerLink="/signup">Signup</button> -->
  <router-outlet></router-outlet>
    </form>
  </label>
</div>
<h1>Never Settle on Roadways, Discover Sea with Us</h1>
<h3>Sea routes are the path to Heaven</h3>



<!-- <div id="a" class="container">
  <label name="uname" class="open1">
  <form #myform=ngForm (ngSubmit)=validation(myform.value)>
      <input type="checkbox" name="u1" class="check"  value="Admin" ngModel>Admin
      <input type="checkbox" name="u2" class="check" value="User" ngModel>User<br/><br/>
      Enter Username :
      <input type="text" class="form-control" name="user" placeholder="Enter Username" ngModel/> <br/><br/>
      Enter Password :
      <input type="password" name="pass" class="form-control"placeholder="Enter Password" ngModel/><br/><br/>
    <b><button style="margin-right: 16px" routerLink="addShip"> Login</button> 
    <button id="s1" style="margin-right: 16px" routerLink="signup">signup</button></b>
    <router-outlet></router-outlet>

</form>
</label>
</div> -->
